@font-face{
    font-family: "decalotype black";
    src: url("decalotype.black.ttf");
}
html{
    scroll-padding-top: 3em;
    position: relative; 
    height: 100vh; 
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#no-header{
    display: none;
    height: 0;
    width: 0;
}

*{
    margin: 0;
    padding: 0;
    color:#ffffff;
    font-family: "decalotype black";
}
#background{
    position: fixed;
    background-image: url(./img/entrega.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    background-position-x: 50%;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}
body{
    height: 100%;
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

strike{
    -webkit-text-decoration-style: double;
            text-decoration-style: double;
    -moz-text-decoration-style: double;
    -webkit-text-decoration-color: #ff0000;
            text-decoration-color: #ff0000;
    -moz-text-decoration-color: #ff0000;
}

nav{
    position: fixed;
    top: 0;
    height: 3em;
    z-index: 300;
    width: 100%;
}

.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3em;
    width: 100%;
    background: #000000; 
}

#nav_responsive, .nav_list{
    display: none;
}

.nav_cont, .nav_cont_l, #nav_cont_l{
    color: #bbbbbb;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: min-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
#nav_l{
    height: 100%;
    width: 100%;
}

.nav_cont a{
    color: #bbbbbb;
    text-shadow: 3px 3px 6px #777777;
    text-align: center;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.nav_cont:hover > a{
    color:#ffffff;
    text-shadow: 4px 4px 5px #ffffff;
}

.nav_cont_l, #nav_cont_l{
    background-image: url("img/logo_l.jpg");
    background-size: 100% 100%;
    min-width: 3.5em ;
    padding: 0 4px 0 4px;
    -webkit-box-shadow: inset 3px 0px 3px #cccccc,inset -3px 0px 3px #cccccc;
    box-shadow: inset 3px 0px 3px #cccccc,inset -3px 0px 3px #cccccc;
    border: none;
}

.nav_cont:hover{
    cursor: pointer;
    color: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#8800ff));
    background: linear-gradient(#000000, #8800ff);
    background: -o-linear-gradient(#000000, #8800ff);
}

.redes{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 35vw;
    position: fixed;
    margin: auto;
    bottom: 3vh;
    left: 0;
    z-index: 400;
}

.red{
    height: 40px;
    width: 40px;
    margin-right: 40px;
    background: radial-gradient(#ffffff 10%, transparent);
    background: -webkit-radial-gradient(#ffffff 10%, transparent);
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}

.red a{
    height: 100%;
    width: 100%;
}

.red a img{
    -o-object-fit: scale-down;
       object-fit: scale-down;
    height: 100%;
}

#wpp{
    filter: saturate(200%);
    -webkit-filter: saturate(200%);
}

header{
    min-height: 100vh;
    padding-top: 3.0em;
    margin-bottom: 1.5em;
}

.logo{
    height: 50vh;
    width: 60vw;
    margin: auto;
}

.logo img{
    height: 100%;
    width: 100%;
    -o-object-fit: fill;
       object-fit: fill;
    filter: drop-shadow(8px 8px 4px #000000);
    -webkit-filter: drop-shadow(8px 8px 4px #000000);
}
    

h2{
    margin: auto;
    text-align: center;
    color: #000000;
    text-shadow: #ffffff 5px 5px 7px;
    font-size: 2.5em;
    margin-bottom: 5vh;
}

#buttom{
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    height: 40px;
    padding-right: 5px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.package-route {
    margin-top: 30px;
    border: 2px solid #007bff;
    padding: 30px;
    border-radius: 5px;
    background-color: #f8f9fa;
}

#sendButton{
    color: #000;
    padding: 3px;
}
.route-step {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.step-number {
    background-color: #007bff;
    color: #fff;
    padding: 4px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 20px;
    display: inline;
}
.step-description {
    color: #000;
    flex: 1;
    display: inline;
}
#packageNumber {
    color: #000;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
    width: calc(100% - 22px); /* Ajuste para compensar el borde */
}


/*//////////section////////////*/
main{
    margin-top: 3em;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    scroll-behavior: smooth;
}

.main{
    width: 80vw;
    min-height: 100vh;
    margin: auto;
    margin-bottom: 20px;
    background:  #ffffffaa;
    background-repeat: repeat;
}

.main_cont{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    min-height: 50vh;
    text-align: center;
}

#introduccion{
    background-color: #fbad31;
}
#nuestros_servicios{
    background-image: url(./img/puntos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 3em;
}
#sobre_uruz{
    background-image: url(./img/Runa.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 4em;
}
#tecnologia{
    background-image: url(./img/embalando.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 3em;
}
#contacto{
    background-image: url(./img/correo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 3em;
}

b{
    text-decoration: underline;
}

.cont{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    min-height: 100vh;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


.cont_div{
    text-shadow: -2px -2px 3px #000000;
    margin: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
}

.cont h3{
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
}

h3{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.5em;
    text-decoration: underline;
    line-height: 3;
    text-shadow: 2px 2px 3px #000000;
}


h4{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.5em;
    text-decoration: underline;
    line-height: 3;
    text-shadow: 2px 2px 3px #000000;
}

p{
    font-size: 1.5em;
    line-height: 1.5;
}
#cajasjpg{
    max-width: 100%;
}
#uruz_logo{
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}

#lista{
    list-style-type: none;
}

.carta{
    position: relative;
    background: #ffffffaa;
    z-index: 10;
    -webkit-box-shadow: 5px 5px 7px #aaaaaa;
            box-shadow: 5px 5px 7px #aaaaaa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 80%;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
label{
    color: #000;
    text-decoration: underline;
}

.carta form{
    width: 75%;
    display: grid;
    grid-template-rows: 3em 3em 1fr;
    grid-template-columns: 35% 65%;
    padding: 5% 2% 2.4em;
}

.carta form:nth-child(n){
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.carta form input{
    color: #000000;
}

.textarea{
    text-align: left;
    word-wrap: break-word;
    word-break: normal;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    color: #000000;
    border: #bbbbbb;
    border-radius: 1px;
    border-width: 1px;
    border-color: #bbbbbb;
    resize: none;
}

.carta_logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.carta_logo_cont{
    background: #ffffff;
    padding: 5% 15% 15% 15%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.carta_logo img{
    -o-object-fit: contain;
       object-fit: contain;
    height: 100%;
    width: 100%;
}

.button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 2em;
    width: 6em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#boton_carta{
    color:#000000;
    font-size: 100%;
    height: 100%;
    width: 100%;
}

#boton_carta:hover{
    cursor: pointer;
    color: #000;
    text-decoration: underline;
    text-shadow: 2px 2px 4px #bbbbbb;
}

#footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    color: #ffffff;
    padding-top: 10px;
    background: -webkit-gradient(linear,left top, left bottom,from(transparent),color-stop(35%, #000000));
    background: linear-gradient(transparent 0%,#000000 35%);
    font-size: 70%;
}


@media (min-width:900px){
    .carta form{
        max-height: 432px;
    }
}

@media (max-width:900px){
    .carta{
        height: 100%;
        width: 96%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 2% 2%;
        border-radius: 40vw 40vw 0 0;
        -webkit-border-radius: 40vw 40vw 0 0;
        -moz-border-radius: 40vw 40vw 0 0;
        -ms-border-radius: 40vw 40vw 0 0;
        -o-border-radius: 40vw 40vw 0 0;
    }

    .carta_logo{
        margin: 2em auto;
    }

    .carta form{
        margin: auto;
        padding-left: 0;
        padding-right: 0;
        padding-top: 1%;
        width: 95%;
        height: 100%;
        grid-template-rows: 3em 3em 1fr;
        grid-template-columns: 15% 85%;
        grid-column-gap: 2%;
    }

    .carta form input{
        width:90%;
    }

    .textarea{
        width: 90%;
        height: 100%;
    }

    #precio{
        right: 2%;
    }
}

@media (max-width:755px){
    .cliente_input input{
        font-size: 120%;
    }
}

@media screen and (max-device-width: 800px){
    body{
        height: 100%;
        width: 100%;
    }
    main{
        -webkit-overflow-scrolling: touch;
    }
    .redes{
    width: 35vmax;
    z-index: 200;
    }

    #background{
        height: 100vmax;
        width: 100%;
        background-size: 100% 100vmax;
    }
}

@media (max-width:680px){
    .carta form{
        margin: auto;
        padding-left: 0;
        padding-right: 0;
        padding-top:1%;
        width: 90%;
        height: 84%;
        grid-template-rows: 1em 3em 1em 3em 1em;
        grid-template-columns: 100%;
    }
    .textarea{
        min-height: 9em;
    }
    .redes{
        z-index: 200;
        left: 5%;
    }
}

@media (max-width:600px){
    .nav{
        display: none;
    }

    #nav_responsive{
        display: -webkit-box;
        display: -ms-flexbox;
        display: inline-block;
        position: relative;
        width: 100%;
        background: #000000;
}
    .nav_list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        background: #151515;
    }

    .back_l{
        background: #000000;
        height: 3em;
        width: 100%;
    }


    .nav_list ul{
        height: 40vh;

        -webkit-box-flex: 1;

            -ms-flex-positive: 1;

                flex-grow: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        list-style-type: none;
    }

    .nav_list ul li{
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        width: 100%;
        text-align: center;
    }

    .nav_list ul li:hover > a{
        color:#ffffff;
        text-shadow: 4px 4px 5px #cccccc;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(#000000), color-stop(#000000), color-stop(95%, #ffffff));
        background: linear-gradient(#ffffff 5%, #000000, #000000, #ffffff 95%);
    }

    ul li a{
        color: #bbbbbb;
        text-shadow: 3px 3px 6px #777777;
        text-decoration: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 100%;
        width: 100%;
    }

    #nav_cont_l{
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50% 100%;
    }

    #nav_cont_l:hover{
        cursor: pointer;
    }

    #cliente_cont div{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .cliente_input input{
        width: 100%;
    }

    .carta input{
        font-size: 110%;
    }
}

@media (max-width:470px){
    .carta input{
        font-size: 100%;
    }
}